<div class="signup-form-body">
    <div class="container">
        <h1>Create Account</h1>
        <div class="divider"></div>
        <p class="subtitle">Fill in the details to get started</p>

        <form [formGroup]="signupForm" (ngSubmit)="signUpForm()">
            <div class="form-group" >
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" formControlName="firstName" name="firstName" placeholder="Enter your first name" required>
                <div *ngIf="signupForm.get('firstName')?.touched && signupForm.get('firstName')?.invalid">
                <small *ngIf="signupForm.get('firstName')?.errors?.['required']" style="color: red;">First name is required </small>
                <small *ngIf="signupForm.get('firstName')?.errors?.['minlength']" style="color: red;" >Minimum length is 3 characters </small>
                <small *ngIf="signupForm.get('firstName')?.errors?.['maxlength']" style="color: red;">Maximum length is 10 characters </small>
                <small *ngIf="signupForm.get('firstName')?.errors?.['pattern']"style="color: red;">Cannot to be write numbers </small>
            </div>
            </div>
            

            <div class="form-group">
                <label for="secondName">Second Name</label>
                <input type="text" id="secondName" formControlName="secondName"  name="secondName" placeholder="Enter your second name" required>
                <div *ngIf="signupForm.get('secondName')?.touched && signupForm.get('firstName')?.invalid">
                <small *ngIf="signupForm.get('secondName')?.errors?.['required']" style="color: red;">First name is required </small>
                <small *ngIf="signupForm.get('secondName')?.errors?.['minlength']" style="color: red;" >Minimum length is 3 characters </small>
                <small *ngIf="signupForm.get('secondName')?.errors?.['maxlength']" style="color: red;">Maximum length is 10 characters </small>
                <small *ngIf="signupForm.get('secondName')?.errors?.['pattern']"style="color: red;">Cannot to be write numbers </small>
            </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email"  name="email" placeholder="Enter your email" required>
                <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
                    <small *ngIf="signupForm.get('email')?.errors?.['required']" style="color: red;">Email is required </small>
                    <small  *ngIf="signupForm.get('email')?.errors?.['email']" style="color: red;" >Please provide valid email </small>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password"  name="password" placeholder="Create a password" required>
                <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid">
                    <small *ngIf="signupForm.get('password')?.errors?.['required']" style="color: red;">Please enter password </small>
                    <small *ngIf="signupForm.get('password')?.errors?.['minlength']" style="color: red;">Minimum length is 5 </small>                    
                    <small *ngIf="signupForm.get('password')?.errors?.['maxlength']" style="color: red;">Maximum length is 10 </small>                    
                    <small *ngIf="signupForm.get('password')?.errors?.['pattern']" style="color: red;">Provide a number, a special charater and a number </small>                    
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" formControlName="confirmPassword"  id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required><div *ngIf="passwordMismatch">
                    <small style="color: red;">Passwords do not match.</small>
                </div>
            </div>
                

            <button type="submit" class="signup-btn">Sign Up</button>
        </form>

        <div class="signin-link">
            Do you have an account? <a href="#">Sign In</a>
        </div>
    </div>
</div>
