<body>
    <div class="user-list-content">
        <div class="user-list-header">
            <h1>User List</h1>
            <div class="header-controls">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Search By Email....">
                    <button class="btn btn-search">Search</button>
                </div>
                <button class="btn btn-create">Create User</button>
            </div>
        </div>
        
        <table class="user-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let user of users$ | async; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.secondName}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <div class="action-buttons">
                            <button class="btn btn-view">View</button>
                            <button class="btn btn-unblock" *ngIf="user.isBlocked">Unblock</button>
                            <button class="btn btn-block"  *ngIf="!user.isBlocked">Block</button>
                            <button class="btn btn-edit">Edit</button>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</body>